body {
    font-family: 'Roboto', sans-serif;
}
.icon-enlarge {
    font-size: 30px;
}
.task {
    font-size: 20px;
}
.completed {
    text-decoration: line-through;
}
i {
    cursor:pointer;
}